*{
    margin: 0;
    padding: 0;
}
.divStyle{
    color: black;
    text-align: center;
    background:lightyellow;
    margin: 5px;
    border: 2px solid grey;
    padding: 5px;
    border-radius: 5px;
    overflow: scroll;
    min-height: 300px;
    max-height: 350px;
    line-height:inherit;
    font-size: 14px;
}

.bgImage{
    background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
